* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #333;
    line-height: 1.6;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 800px;


}

.watch-container {
    border-radius: 15px;
    background-color: #ccc;
    width: 600px;
    height: 300px;

}

.time-view {
    padding-top: 20px;
    text-align: center;
    height: 180px;
}

.time-heading {
    font-size: 60px;
}

#timer {
    font-size: 50px;
}

.buttons-container {
    display: flex;
    height: 130px;
    justify-content: space-around;
    align-items: center;
}

.button {
    margin: 15px;
    font-size: 24px;
    padding: 10px 25px;
    border-radius: 15px;
}